.Card{
    display:flex;
    flex-direction: column;
    flex:1;
    background:#fff;
    border:2px solid #000;
    border-radius: 10px;
    margin:0.5rem;
    overflow: hidden;
    min-width: 300px;
    transition: 0.3s;
    box-shadow: 0px 0px 0px 0px #000;
    position:relative;
    top:0px;
    left:0px;
}

.Card .Content{
    padding:2rem 1rem;
    flex:1;
}

.Card .Footer{
    padding: .5rem 2rem;
    color:white;
    transition: 0.3s;
    margin:0;
}

.Card:hover{
    border:2px solid #000 !important;
    box-shadow: 5px 5px 0px 0px #000;
    top:-5px;
    left:-5px;
}
.Card:hover .Footer{
    background-color:#000 !important;
}